<% if !@product.downloadables.blank? -%>
  <span class='tag'><%= t(:downloads) %>:</span>
  <br /><br />
  <ul>
    <% @product.downloadables.each do |downloadable| %>
      <li>
        <% extension_name = File.extname(downloadable.attachment_file_name) -%>
        <% extension_name.slice!(0) -%>
        <% extension_name.downcase! -%>
        <%= link_to(( image_tag("attachment_extension/icons/#{extension_name}.gif") + ' ' + downloadable.title + ' (' + number_to_human_size(downloadable.attachment_file_size) + ')'), downloadable.attachment.url(:product), :class => 'black', :target => '_blank') %>
      </li>
    <% end %>
  </ul>
<% end %>
<br />
